# TW3 Exploratory Data AnalysisBart Nadala, Maason Kao, Zachary Jeffreys

#### Write full names of your team members who worked together.




#### Submission:

- Push the completed code to your Github repository.

- See more information in Canvas.

## Part 0: 
    
The following Git repository is for the COVID-19 visual dashboard operated by the Johns Hopkins University Center for Systems Science and Engineering: 

https://github.com/CSSEGISandData/COVID-19

- Read the information on the dashboard and check the datasets details

- Datasets are located in a folder: csse_covid_19_data

We will walk through the code and see how Python Pandas functions are used to process the data.

##### The example below is COVID19 cases in the US. 

- We download two files but they seem the same. Let's use the file for confirmed cases.

In [1]:
# Download the data from the Web

import os
datapath = os.path.join("csse_covid_19_data", "csse_covid_19_data", "")

import urllib

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
os.makedirs(datapath, exist_ok=True)

for filename in ("time_series_covid19_confirmed_US.csv","time_series_covid19_deaths_US.csv"):
    print("Downloading", filename)
    url = DOWNLOAD_ROOT + "csse_covid_19_data/csse_covid_19_data/" + filename
    urllib.request.urlretrieve(DOWNLOAD_ROOT, datapath + filename)

Downloading time_series_covid19_confirmed_US.csv
Downloading time_series_covid19_deaths_US.csv

In [2]:
# import necessary packages and modules

%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

### Read data

In [3]:
# read data
df = pd.read_csv(datapath + "time_series_covid19_confirmed_US.csv")
df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/22/21,9/23/21,9/24/21,9/25/21,9/26/21,9/27/21,9/28/21,9/29/21,9/30/21,10/1/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,9568,9611,9642,9652,9667,9691,9703,9715,9744,9761
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,35946,36054,36108,36201,36242,36278,36352,36409,36447,36491
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,3419,3429,3432,3465,3472,3474,3481,3483,3490,3495
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,4016,4056,4073,4085,4093,4102,4112,4126,4131,4146
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,9555,9595,9649,9693,9720,9735,9774,9797,9818,9842

#### We select data for two states, Washington and Texas

- If you want to select different states, modify this cell and rerun it.

In [4]:
# Select the data for Washington and Texas
st1 = df.loc[df["Province_State"] == "Washington"]
st2 = df.loc[df["Province_State"] == "Texas"]

# drop not-used columns 
drop_cols = ['UID', 'iso2', 'iso3', 'FIPS', 'Province_State', 'Country_Region', 
             'Lat', 'Long_', 'code3', 'Combined_Key', 'Admin2']

st1 = st1.drop(columns=drop_cols)
st2 = st2.drop(columns=drop_cols)

print(st1.head())
print(st2.head())

st1.columns

      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  \
3145        0        0        0        0        0        0        0        0
3146        0        0        0        0        0        0        0        0
3147        0        0        0        0        0        0        0        0
3148        0        0        0        0        0        0        0        0
3149        0        0        0        0        0        0        0        0

      1/30/20  1/31/20  ...  9/22/21  9/23/21  9/24/21  9/25/21  9/26/21  \
3145        0        0  ...     2918     2940     2958     2958     2958
3146        0        0  ...     2409     2421     2430     2430     2430
3147        0        0  ...    28128    28329    28437    28437    28437
3148        0        0  ...     9788     9830     9862     9862     9862
3149        0        0  ...     3874     3929     3956     3956     3956

      9/27/21  9/28/21  9/29/21  9/30/21  10/1/21
3145     2994     3001     3003     3023     3043
3146     2482     2488     2507     2518     2539
3147    28842    28960    29104    29192    29328
3148     9963     9997    10049    10089    10131
3149     4038     4061     4085     4122     4173

[5 rows x 619 columns]
      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  \
2700        0        0        0        0        0        0        0        0
2701        0        0        0        0        0        0        0        0
2702        0        0        0        0        0        0        0        0
2703        0        0        0        0        0        0        0        0
2704        0        0        0        0        0        0        0        0

      1/30/20  1/31/20  ...  9/22/21  9/23/21  9/24/21  9/25/21  9/26/21  \
2700        0        0  ...     7591     7588     7708     7707     7707
2701        0        0  ...     2591     2637     2637     2637     2637
2702        0        0  ...    12875    12875    13031    13031    13031
2703        0        0  ...     2436     2447     2449     2457     2466
2704        0        0  ...     1064     1065     1065     1071     1071

      9/27/21  9/28/21  9/29/21  9/30/21  10/1/21
2700     7707     7728     7729     7731     7805
2701     2637     2637     2637     2665     2688
2702    13031    13202    13303    13303    13303
2703     2466     2476     2496     2504     2515
2704     1071     1077     1080     1086     1093

[5 rows x 619 columns]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '9/22/21', '9/23/21', '9/24/21', '9/25/21', '9/26/21', '9/27/21',
       '9/28/21', '9/29/21', '9/30/21', '10/1/21'],
      dtype='object', length=619)

### sum() function

- see the examples:
    
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html

In [5]:
# sum of column data of rows 
# columns and rows will be changed
# sum() function returns a Series
cases_st1 = st1.sum(axis=0)
cases_st2 = st2.sum(axis=0)

print(cases_st1.tail())
print(cases_st2.tail())

9/27/21    649284
9/28/21    652011
9/29/21    654710
9/30/21    657626
10/1/21    660910
dtype: int64
9/27/21    4029626
9/28/21    4043512
9/29/21    4058636
9/30/21    4068264
10/1/21    4077436
dtype: int64

In [6]:
# createa a DataFrame of two states' data
dict_states = {'WA_cases': cases_st1, 'TX_cases': cases_st2}

data = pd.DataFrame(dict_states)

print(data.head())
print(data.tail())

         WA_cases  TX_cases
1/22/20         1         0
1/23/20         1         0
1/24/20         1         0
1/25/20         1         0
1/26/20         1         0
         WA_cases  TX_cases
9/27/21    649284   4029626
9/28/21    652011   4043512
9/29/21    654710   4058636
9/30/21    657626   4068264
10/1/21    660910   4077436

In [7]:
# reset index (0, 1, 2, . . . ) --> adding number index
data.reset_index(inplace=True)

data.head()

     index  WA_cases  TX_cases
0  1/22/20         1         0
1  1/23/20         1         0
2  1/24/20         1         0
3  1/25/20         1         0
4  1/26/20         1         0

In [8]:
# add two new columns and set default values

data['WA_daily'] = 0
data['TX_daily'] = 0

data.head()

     index  WA_cases  TX_cases  WA_daily  TX_daily
0  1/22/20         1         0         0         0
1  1/23/20         1         0         0         0
2  1/24/20         1         0         0         0
3  1/25/20         1         0         0         0
4  1/26/20         1         0         0         0

In [9]:
# calculate daily cases and assign the values

for index, row in data.iterrows():
    if index==0:
        data.loc[index, 'WA_daily'] = data.loc[index, 'WA_cases'] 
        data.loc[index, 'TX_daily'] = data.loc[index, 'TX_cases'] 
    else:
        data.loc[index, 'WA_daily'] = data.loc[index, 'WA_cases'] - data.loc[index-1, 'WA_cases'] 
        data.loc[index, 'TX_daily'] = data.loc[index, 'TX_cases'] - data.loc[index-1, 'TX_cases'] 

    # data clearning (drop error values)
    if data.loc[index, 'WA_daily'] < 0:
        data.loc[index, 'WA_daily'] = 0
    if data.loc[index, 'TX_daily'] < 0:
        data.loc[index, 'TX_daily'] = 0

data.tail()

       index  WA_cases  TX_cases  WA_daily  TX_daily
614  9/27/21    649284   4029626      8788     10814
615  9/28/21    652011   4043512      2727     13886
616  9/29/21    654710   4058636      2699     15124
617  9/30/21    657626   4068264      2916      9628
618  10/1/21    660910   4077436      3284      9172

In [10]:
# add a new column for the number of days
data['day_number'] = data.index

data.head()

     index  WA_cases  TX_cases  WA_daily  TX_daily  day_number
0  1/22/20         1         0         1         0           0
1  1/23/20         1         0         0         0           1
2  1/24/20         1         0         0         0           2
3  1/25/20         1         0         0         0           3
4  1/26/20         1         0         0         0           4

## Part 1

### Tasks

1. (Optional) Select states you are interested in from the COVID-19 data repository. The above cells contain the data for Washington and Texas. Hence if you would like to change states, you will update the above cells and rerun them. 

2. Conduct exploratory data analysis on the selected data and visualize the data. This may include the following:

(1) Descriptive statistics: mean, median and standard deviation, mininum, maximum and quatiles.

(2) Draw boxplots.

(3) Draw histograms.

(4) Draw scatter plots and calculate correlation coefficient factor r
    
    - Given an explanatory variable x (e.g., day_number), you display a response variable y (e.g., TX_cases). 


(5) Choose one tool that has not be used here and apply it on these COVID-19 data.

#### Task (1)

#### Task (2)

#### Task (3)

#### Task (4)

#### Task (5)

## Part 2

Write a summary of what you find from the data analysis.

### Resources

#### Boxplot
https://towardsdatascience.com/understanding-boxplots-5e2df7bcbd51


- matplotlib.pyplot boxplot demo
https://matplotlib.org/3.1.1/gallery/pyplots/boxplot_demo_pyplot.html


#### matplotlib.pyplot
- scatter plot
https://matplotlib.org/3.3.2/api/_as_gen/matplotlib.pyplot.scatter.html


- histogram plot
https://matplotlib.org/3.3.2/api/_as_gen/matplotlib.pyplot.hist.html


#### pandas DataFrame
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html


- describe()
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html


- corr()
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html


- hist()
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.hist.html


- plot.scatter()
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.scatter.html


- pivot()
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html